h2 {color: #003580;}
#zhengwen {font-size: 14px;  color: #000033;}
.color1 {color: #f00;}
.color2 {color: #1f87cc;}
.color3 {color: #faa53b;}
.color4 {color: #0d7114;}
.img1 {width: 100px; height:160px;}
.img2 .img3 {width: 200px; height:130px;}